<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Atlassian API Test Suite" verbose="2">

    <test name="GET Method Tests">
        <classes>
            <class name="com.atlassian.api.tests.GetMethodTest"/>
        </classes>
    </test>

</suite>
